* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: monospace;
}

.login-form {
  background-color: aqua;
  width: 300px;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.form-title {
  text-align: center;
  text-transform: uppercase;
}

.form-control {
  margin-bottom: 8px;
}

.form-label {
  padding-bottom: 4px;
  display: block;
}

.form-input {
  display: block;
  height: 32px;
  width: 100%;
  border: 1px #808080;
  border-radius: 4px;
  padding: 4px;
  outline: none;
}

.submit-button {
  display: block;
  width: 100%;
  height: 32px;
  background-color: #ff7f50;
  margin-top: 24px;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
}

.form-input:invalid {
  border: 3px #ff0000 solid;
}